<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198601596058-npur21ijg262oa66ojfqafn3r0rat6io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198601596058-npur21ijg262oa66ojfqafn3r0rat6io</string>
	<key>API_KEY</key>
	<string>AIzaSyCDdXpuvwg0DQu0NpyIqVi4PPXy-alZ7Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>198601596058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ansan.LightChat</string>
	<key>PROJECT_ID</key>
	<string>lightchat-add75</string>
	<key>STORAGE_BUCKET</key>
	<string>lightchat-add75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198601596058:ios:0a87bc4473de4013fc1323</string>
</dict>
</plist>